.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100vh;
}

button {
  text-transform: uppercase;
}

.material-icons.red400 {
  color: #ef5350;
}

.material-icons.md-18 {
  font-size: 18px;
}

.form-buttons-container {
  text-align: right !important;
}

body{
  overflow-y: auto !important;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  div {
    padding: 0px;
    margin-right: 15px;
  }
}

.header-buttons-container {
  text-align: right;
}

.header-divider {
  clear: both;
  display: flex;
}

.btn-icon {
  margin-right: 5px;
}

.modal-footer-confirm-btn {
  padding: 10px;
  margin-right: 15px;
}

.form-group {
  margin-top: inherit !important;
}

/*==========================================================*/

// BS Admin 2.0
$topnav-background-color: #222;
.user-avatar {
  border: 3px solid #FFF;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#toggle-sidebar {
  position: fixed;
  top: 0px;
  left: 5px;
  color: #FFF;
  background: #222;
  font-size: 23px;
  z-index: 3;
  display: none;
}

.btn:focus {
  outline: 3px auto #FFF;
}

.topnav {
  border-radius: 0;
  background-color: $topnav-background-color;
  padding: 6px;
  z-index: 2;
  .text-center {
    text-align: center;
    padding-left: 0;
    cursor: pointer;
  }
  .top-right-nav {
    .buy-now {
      a {
        color: #999;
      }
    }
    .dropdown-menu {
      top: 40px;
      right: -5px;
      left: auto;
      .message-preview {
        .media {
          .media-body {
            .media-heading {
              font-size: 14px;
              font-weight: bold;
              margin-bottom: 0;
            }
            p {
              margin: 0;
            }
            p.last {
              font-size: 13px;
              margin-bottom: 0;
            }
          }
        }
      }
      hr {
        margin-top: 1px;
        margin-bottom: 4px;
      }
    }
  }

}

a:hover {
  text-decoration: none;
}

.sidebar {
  border-radius: 0;
  position: fixed;
  z-index: 3;
  top: 50px;
  left: 225px;
  width: 225px;
  margin-left: -225px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: $topnav-background-color;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  .list-group {
    a.list-group-item {
      background: $topnav-background-color;
      border: 0;
      border-radius: 0;
      color: #999;
      text-decoration: none;
    }
    a.list-group-item i {
      padding-right: 10px;
    }
    a:hover {
      background: darken($topnav-background-color, 5%);
      color: #fff;
    }
    a.router-link-active {
      background: darken($topnav-background-color, 5%);
      color: #fff;
    }
  }
  .sidebar-dropdown {
    *:focus {
      border-radius: none;
      border: none;
    }
    .panel-title {
      font-size: 1rem;
      height: 50px;
      margin-bottom: 0;
      a {
        color: #999;
        text-decoration: none;
        font-weight: 400;
        background: $topnav-background-color;
        span {
          position: relative;
          display: block;
          padding: .75rem 1.5rem;
          padding-top: 1rem;
        }
      }
      a:hover, a:focus {
        color: #fff;
        outline: none;
        outline-offset: -2px;
      }
    }
    .panel-title:hover {
      background: darken($topnav-background-color, 5%);
    }
    .panel-collapse {
      border-radious: 0;
      border: none;
      .panel-body {
        .list-group-item {
          border-radius: 0;
          background-color: $topnav-background-color;
          border: 0 solid transparent;
          a {
            color: #999;
          }
          a:hover {
            color: #FFF;
          }
        }
        .list-group-item:hover {
          background: darken($topnav-background-color, 5%);
        }
      }
    }
  }
}

.bg-white {
  background: #fff;
}

.main-container {
  margin: 50px 0 0 0px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.chat-panel {
  .chat-dropdown {
    margin-top: -3px;
  }
  .chat {
    .left {
      img {
        margin-right: 15px;
      }
    }
    .right {
      img {
        margin-left: 15px;
      }
    }
    height: 350px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 10px;
      margin-right: 15px;
      padding-bottom: 5px;
      border-bottom: 1px dotted #999;
    }
  }
  .card-footer {
    input {
      padding: 3px;
    }
  }
}

/* RTL ashboard */
.sidebarPushRight {
  left: 225px !important;
  z-index: 10;
}

.mainContainerPushLeft {
  margin: 55px 255px 0 0;
}

/* End */

.display-sm {
  display: none;
}

.hide-sm {
  display: block;
}

@media (min-width: 0) {
  .navbar-toggleable-xs {
    display: block !important;
  }
}

@media screen and (max-width: 600px) {
  .topnav {
    .text-center {
      a {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #toggle-sidebar {
    display: block;
  }
  .topnav {
    .text-center {
      padding-left: 55px;
    }
  }
  .top-right-nav {
    display: none;
  }
  .navbar-brand {
    float: none;
    display: inline-block;
    cursor: pointer;
  }

  .show-name {
    display: block !important;
    z-index: 1;
  }
  .display-sm {
    display: block;
  }
  .hide-sm {
    display: none;
  }
  .sidebar {
    left: 0;
  }
  .main-container {
    margin-left: 0;
  }
  .loading {
    left: 39% !important;
  }
}

.carousel {
  .carousel-control {
    cursor: pointer;
  }
  .carousel-inner {

    .carousel-item {
      img {
        width: 100%;
        max-height: 373px;
      }
    }
    .fa-chevron-left:before {
      position: absolute;
      top: 46%;
      left: 50px;
    }
    .fa-chevron-right:before {
      position: absolute;
      top: 46%;
      right: 50px;
    }
  }
}

.loader {

}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 20% auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #222222;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: $topnav-background-color;
  text-align: center;
  color: #fff;
  padding: 3em;
  .col-lg-4 {
    padding: 0;
  }
  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
  }
  .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    color: #FFF;
    border-radius: 0;
  }
  .input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
  }
  .rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: $topnav-background-color;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }
  .rounded-btn:hover, .rounded-btn:focus, .rounded-btn:active, .rounded-btn:visited {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    outline: none;
  }

  h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    small {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .form-group {
    padding: 8px 0;
    input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
      color: rgba(255, 255, 255, 0.6) !important;
    }

    input::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }
  .form-content {
    padding: 40px 0;
  }
}

.nested-menu {
  .list-group-item {
    cursor: pointer;
  }
  .nested {
    list-style-type: none;
  }
  ul.submenu {
    height: 0;
    padding-left: 0;
  }
  & .expand {
    ul.submenu {
      list-style-type: none;
      height: auto;
      li {
        a {
          color: #999;
          padding: 10px;
          display: block;
          text-decoration: none;
          padding-left: 50px;
          i {
            padding-right: 10px;
          }
        }
        a.router-link-active {
          background: darken($topnav-background-color, 5%);
          color: #fff;
        }
      }
    }
  }
  .hide {
    ul.submenu {
      display: none;
    }
  }
}

li.nav-item {
  a {
    i {
      padding-right: 10px;
    }
  }
}

// loader
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 20% auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #222222;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

$rotate: 180deg;

.add-icon-active {
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
  -ms-transform: rotate($rotate);
}

.add-icon-inactive {
  -webkit-transform: rotate(-$rotate);
  transform: rotate(-$rotate);
  -ms-transform: rotate(-$rotate);
}

.rotate {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 75px;
  height: 30px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 22px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #27A1CA;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 45px;
  background-color: #27A1CA;
}

div.switch5 {
  clear: both;
  margin: 0px 0px;
}

div.switch5 > input.switch:empty {
  margin-left: -999px;
}

div.switch5 > input.switch:empty ~ label {
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0px;
  cursor: pointer;
  -moz-user-select: none;
}

div.switch5 > input.switch:empty ~ label:before, input.switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  content: "off";
  width: 3.6em;
  height: 1.5em;
  text-indent: 2.4em;
  color: rgb(153, 0, 0);
  background-color: rgb(204, 51, 51);
  border-radius: 0.3em;
  box-shadow: 0px 0.2em 0px rgba(0, 0, 0, 0.3) inset;
}

div.switch5 > input.switch:empty ~ label:after {
  content: " ";
  width: 1.4em;
  height: 1.5em;
  top: 0.1em;
  bottom: 0.1em;
  text-align: center;
  text-indent: 0px;
  margin-left: 0.1em;
  color: rgb(255, 136, 136);
  background-color: rgb(255, 255, 255);
  border-radius: 0.15em;
  box-shadow: 0px -0.2em 0px rgba(0, 0, 0, 0.2) inset;
  transition: all 100ms ease-in 0s;
}

div.switch5 > input.switch:checked ~ label:before {
  content: "on";
  text-indent: 0.5em;
  color: rgb(102, 255, 102);
  background-color: rgb(51, 153, 51);
}

div.switch5 > input.switch:checked ~ label:after {
  margin-left: 2.1em;
  color: rgb(102, 204, 102);
}

div.switch5 > input.switch:focus ~ label {
  color: rgb(0, 0, 0);
}

div.switch5 > input.switch:focus ~ label:before {
  box-shadow: 0px 0px 0px 3px rgb(153, 153, 153);
}

.switch6 {
  max-width: 17em;
  margin: 0 auto;
}

.switch6-light > span, .switch-toggle > span {
  color: #000000;
}

.switch6-light span span, .switch6-light label, .switch-toggle span span, .switch-toggle label {
  color: #2b2b2b;
}

.switch-toggle a,
.switch6-light span span {
  display: none;
}

.switch6-light {
  display: block;
  height: 30px;
  position: relative;
  overflow: visible;
  padding: 0px;
  margin-left: 0px;
}

.switch6-light * {
  box-sizing: border-box;
}

.switch6-light a {
  display: block;
  transition: all 0.3s ease-out 0s;
}

.switch6-light label,
.switch6-light > span {
  line-height: 30px;
  vertical-align: middle;
}

.switch6-light label {
  font-weight: 700;
  margin-bottom: px;
  max-width: 100%;
}

.switch6-light input:focus ~ a, .switch6-light input:focus + label {
  outline: 1px dotted rgb(136, 136, 136);
}

.switch6-light input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}

.switch6-light input:checked ~ a {
  right: 0%;
}

.switch6-light > span {
  position: absolute;
  left: -100px;
  width: 100%;
  margin: 0px;
  padding-right: 100px;
  text-align: left;
}

.switch6-light > span span {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: block;
  width: 50%;
  margin-left: 100px;
  text-align: center;
}

.switch6-light > span span:last-child {
  left: 50%;
}

.switch6-light a {
  position: absolute;
  right: 50%;
  top: 0px;
  z-index: 4;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0px;
}
